.container {
  display: flex;
  justify-content: space-between;
}

.authentication {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */
}

.image {
  flex: 1;
}

/* Additional styles for authentication form and image if needed */
